.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__form {
    &__fields {
      * {
        width: 100%;
      }
      input {
        width: 97%;
      }
      textarea {
        width: 97%;

      }
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
  }
}
